# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
ipykernel
ipython
lxml
molmass
numpy
pandas
pyteomics
rdkit>=2020.09.5
scikit-learn
scipy
seaborn
tomotopy==0.10.2
tqdm
xlrd
cvxpy
more-itertools
